@media (min-width: 2400px) {
    div.container {
        width: 2400px;
    }
}

div.main-line {
    font-weight: 600;
}

div.variation {
    font-weight: 500;
    margin-left: 10px;
}

span.variation-no {
    font-weight: 500;
}

span.move {
    margin-left: 5px;
}

span.focus {
    margin-left: 5px;
    color: firebrick;
}

span.comment {
    margin-left: 5px;
    font-weight: 500;
}

span.annotation {
    margin-left: 1px;
    font-weight: 500;
}

div.navbar {
    margin-top: 20px;
}

textarea.full-width {
    width: 100%;
}