@media (min-width: 2400px) {
    .container {
        width: 2400px;
    }
}

.top-margin {
    margin-top: 20px;
}

div.variation {
    margin-left: 20px;
}

span.move {
    margin-left: 3px;
    font-weight: 500;
    float:left;
}

span.focus {
    margin-left: 3px;
    color: firebrick;
    font-weight: 500;
    float:left;
}

span.comment {
    margin-left: 5px;
}

span.annotation {
    margin-left: 1px;
    font-weight: 500;
}